span {
  color: blue;
}

img {
  float: right;
  width: 50%;
  height: 25%
}

img{
  padding: 3px
}

.heading {
  font-family: cursive;
  color: darkseagreen;
}

.container {
  padding: 15px;
  margin: 12px;
  border: lightyellow;
  background-color: teal;
}
